@media only screen and (max-width: 800px) {
    .container {
        max-width: 400px;
        overflow: hidden;
        padding: 20px;
    }
    
    .conversion-result {
        max-width: 300px;
        overflow: auto;
        height: 109px;
        background-color: #273549;
        margin: 15px;
        margin-left: auto;
        margin-right: auto;
        color: white;
        
    }
    .conversion-result > h2 {
        font-size: 10px;
        font-family: Poppins;
        font-weight: 600;
    }
    
    #conversion-1 {
        color: white;
        font-family: Poppins;
        font-weight: 400;
        font-size: 8px;
    }
    
}

body {
    width: 100%;
    height: 100%;
}


.container {
    width: 560px;
    height: 730px;
    margin: 0 auto;
    padding: 50px;
}

.header {
    max-width: 500px;
    height: 250px;
    background-color: #6943FF;
    padding: 30px;
    overflow: auto;
    text-align: center;
}

.header > h1 {
    font-family: Poppins;
    font-weight: 800;
    font-size: 28px;
    color: white;

}

.inputForm {
    width: 117px;
    height: 83px;
    font-family: Poppins;
    background: transparent;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-weight: 400;
    font-size: 58px;
    text-align: center;
    margin-bottom: 20px;
}

.btnInput {
    width: 117px;
    height: 42px;
    border: none;
    font-family: Poppins;
    font-weight: 400px;
    font-size: 16px;
    border-radius: 7px;
} 

.flex-component {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #1F2937;
}

.conversion-result {
    width: 500px;
    height: 109px;
    background-color: #273549;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    
}

.conversion-result > h2 {
    font-size: 20px;
    font-family: Poppins;
    font-weight: 600;
}

#conversion-1 {
    color: white;
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
}

.footer > h1 {
    font-style: Poppins;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

